.BOX1{width: 50VW;
	height: 400px;
	background-color: lightgreen;
	padding-top: 30px;
	padding-right: 25px;
	padding-bottom: 30px;
	padding-left: 25px;
	margin: 30px;
}
.BOX2{width: 50VW;
	height: 400px;
	background-image: url("end.jpeg");
	background-size: cover;
	background-attachment: fixed;
	border: 5px dotted yellow;
	border-radius: 50px;
	
}
.BOX1{display: block;}
.box3{height: 300px;
	background-color: violet;
}
.box4{height: 100px;
width: 100px;
background-color: lightblue;
float: left;}